@inject IJSRuntime JSRuntime

<div class="modal fade" id="@ModalId" tabindex="-1" role="dialog" aria-labelledby="@TitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="@TitleId">@Title</h5>
                @if (Buttons.HasFlag(MessageModalButtons.Cancel))
                {
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@(()=>OnResponse.InvokeAsync(MessageModalButtons.Cancel))">
                        <span aria-hidden="true">&times;</span>
                    </button>
                }
            </div>
            <div class="modal-body">
                <p>@Message</p>
            </div>
            <div class="modal-footer">
                @if (Buttons.HasFlag(MessageModalButtons.Ok))
                {
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="@(()=>OnResponse.InvokeAsync(MessageModalButtons.Ok))">OK</button>
                }
                @if (Buttons.HasFlag(MessageModalButtons.Yes))
                {
                    <button type="button" class="btn btn-success" data-dismiss="modal" @onclick="@(()=>OnResponse.InvokeAsync(MessageModalButtons.Yes))">Yes</button>
                }
                @if (Buttons.HasFlag(MessageModalButtons.No))
                {
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="@(()=>OnResponse.InvokeAsync(MessageModalButtons.No))">No</button>
                }
                @if (Buttons.HasFlag(MessageModalButtons.Cancel))
                {
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@(()=>OnResponse.InvokeAsync(MessageModalButtons.Cancel))">Cancel</button>
                }
            </div>
        </div>
    </div>
</div>

@code{
    public string ModalId { get; set; } = Guid.NewGuid().ToString();

    public string TitleId { get; set; } = Guid.NewGuid().ToString();

    private string Title { get; set; }

    private string Message { get; set; }

    private MessageModalButtons Buttons { get; set; }

    [Parameter]
    public EventCallback<MessageModalButtons> OnResponse { get; set; }

    public ValueTask Show(string message, string title = "Message", MessageModalButtons buttons = MessageModalButtons.Ok | MessageModalButtons.Cancel)
    {
        Title = title;
        Message = message;
        Buttons = buttons;
        StateHasChanged();
        return ModalInterop.Show(JSRuntime, ModalId);
    }
}