@inject IBlogService Service

<Loader OnLoad="@OnLoad" UseSkeleton>
    <AntListItem>
        <AntListItemMeta Avatar="@("")">
            <Title>
                <h4>
                    <a href="posts/@Id" style="color:black" class="@TitleTypeStyle">
                        @if (IsProtected)
                        {
                            <span>Protected Post</span>
                        }
                        else
                        {
                            <span>@Post.Title</span>
                        }
                    </a>
                </h4>
                @if (!IsProtected)
                {
                    <div>
                        <PostMetadataDisplay Value="@Post" />
                    </div>
                }
            </Title>
        </AntListItemMeta>
        @if (!IsProtected)
        {
            <p>
                <AcBlog.Client.WebAssembly.Components.Displays.DocumentPreviewDisplay Document="@Post.Content" />
            </p>
        }
    </AntListItem>
</Loader>

@code {
    [Parameter]
    public bool ShowType { get; set; } = false;

    [Parameter]
    public string Id { get; set; }

    private string TitleTypeStyle = "";

    private Post Post { get; set; }

    private bool IsProtected { get; set; } = false;

    private async Task OnLoad()
    {
        Post = null;
        IsProtected = false;
        TitleTypeStyle = "";

        Post = await Service.PostService.Get(Id);
        IsProtected = await Service.PostService.Protector.IsProtected(Post);
        if (!IsProtected && ShowType)
        {
            switch (Post.Type)
            {
                case PostType.Article:
                    TitleTypeStyle = "mdi mdi-feather";
                    break;
                case PostType.Slides:
                    TitleTypeStyle = "mdi mdi-presentation";
                    break;
                case PostType.Note:
                    TitleTypeStyle = "mdi mdi-file-document";
                    break;
                default:
                    break;
            }
        }
    }
}
