@using AcBlog.Client.WebAssembly.Components.Displays

@if (Value != null)
{
    <div style="color:#999">
        <small>
            <ItemTimeDisplay CreationTime="@Value.CreationTime" ModificationTime="@Value.ModificationTime" />
        </small>
        @if (!string.IsNullOrWhiteSpace(Value.CategoryId))
        {
            <small class="m-1">|</small>
            <small>
                <CategoryDisplay CategoryId="@Value.CategoryId" />
            </small>
        }
        @if (Value.KeywordIds != null && Value.KeywordIds.Length > 0)
        {
            <small class="m-1">|</small>
            <small>
                <KeywordsDisplay KeywordIds="@Value.KeywordIds" />
            </small>
        }
        @if (!string.IsNullOrEmpty(Value.Content.Raw))
        {
            <small class="m-1">|</small>
            <small>
                <WordCountDisplay Document="@Value.Content" />
            </small>
            <small class="m-1">|</small>
            <small>
                <ReadTimeDisplay Document="@Value.Content" />
            </small>
        }
    </div>
}

@code {
    [Parameter]
    public Post Value { get; set; }
}
