@using AcBlog.Client.WebAssembly.Components.Displays

@if (Value != null)
{
    <div style="color:#999">
        <small>
            <ItemTimeDisplay CreationTime="@Value.CreationTime" ModificationTime="@Value.ModificationTime" />
        </small>
        @if (Value.Category != null && Value.Category.Length > 0)
        {
            <small class="m-1">|</small>
            <small>
                <CategoryDisplay Value="@Value.Category" />
            </small>
        }
        @if (Value.Keywords != null && Value.Keywords.Length > 0)
        {
            <small class="m-1">|</small>
            <small>
                <KeywordsDisplay Value="@Value.Keywords" />
            </small>
        }
        @if (!string.IsNullOrEmpty(Value.Content.Raw))
        {
            <small class="m-1">|</small>
            <small>
                <WordCountDisplay Document="@Value.Content" />
            </small>
            <small class="m-1">|</small>
            <small>
                <ReadTimeDisplay Document="@Value.Content" />
            </small>
        }
    </div>
}

@code {
    [Parameter]
    public Post Value { get; set; }
}
