@inject IBlogService Service

<Loader OnLoad="@OnLoad" UseSkeleton>
    <AntListItem>
        <AntListItemMeta Avatar="@("")">
            <Title>
                <h4>
                    @if (!IsProtected && ShowType)
                    {
                        switch (Post.Type)
                        {
                            case PostType.Article:
                                <MdiIcon Type="feather" />
                                break;
                            case PostType.Slides:
                                <MdiIcon Type="presentation" />
                                break;
                            case PostType.Note:
                                <MdiIcon Type="file-document" />
                                break;
                            default:
                                break;
                        }
                    }
                    <a href="posts/@Id" style="color:black">
                        @if (IsProtected)
                        {
                            <span>Protected Post</span>
                        }
                        else
                        {
                            <span>@Post.Title</span>
                        }
                    </a>
                </h4>
                @if (!IsProtected)
                {
                    <div>
                        <PostMetadataDisplay Value="@Post" />
                    </div>
                }
            </Title>
        </AntListItemMeta>
        @if (!IsProtected)
        {
            <p>
                <AcBlog.Client.WebAssembly.Components.Displays.DocumentPreviewDisplay Document="@Post.Content" />
            </p>
        }
    </AntListItem>
</Loader>

@code {
    [Parameter]
    public bool ShowType { get; set; } = false;

    [Parameter]
    public string Id { get; set; }

    private Post Post { get; set; }

    private bool IsProtected { get; set; } = false;

    private async Task OnLoad()
    {
        Post = null;
        IsProtected = false;

        Post = await Service.PostService.Get(Id);
        IsProtected = await Service.PostService.Protector.IsProtected(Post);
    }
}
