@page "/"
@inherits BasePage

<div style="background-image: url(@BlogSettings.IndexBackgroundUrl); background-size: 100% 100%; margin-bottom: 0;">
    <Row Align="middle" Justify="center" Style="height: 100vh;">
        <Space Style="background-color: #f0f8ffeb; border-radius: 20px; padding: 42px 49px;" Size="large">
            <SpaceItem>
                <img src="@BlogSettings.IndexIconUrl" class="img-fluid mx-auto" style="border-radius: 20px; max-height: 256px; max-width: 256px;" />
            </SpaceItem>
            <SpaceItem>
                <Space Direction="vertical">
                    <SpaceItem>
                        <h1 class="display-4 text-center">@BlogSettings.Name</h1>
                        <Divider></Divider>
                    </SpaceItem>
                    <SpaceItem>
                        <Space>
                            <SpaceItem>
                                <Button Size="@ButtonSize.Large"
                                        OnClick="@(e=>NavigationManager.NavigateTo("articles"))">
                                    <MdiIcon Type="feather" />
                                    <a href="articles">Articles</a>
                                </Button>
                            </SpaceItem>
                            <SpaceItem>
                                <Button Size="@ButtonSize.Large"
                                        OnClick="@(e=>NavigationManager.NavigateTo("slides"))">
                                    <MdiIcon Type="presentation" />
                                    <a href="slides">Slides</a>
                                </Button>
                            </SpaceItem>
                            <SpaceItem>
                                <Button Size="@ButtonSize.Large"
                                        OnClick="@(e=>NavigationManager.NavigateTo("notes"))">
                                    <MdiIcon Type="file-document" />
                                    <a href="notes">Notes</a>
                                </Button>
                            </SpaceItem>
                        </Space>
                    </SpaceItem>
                </Space>
            </SpaceItem>
        </Space>
    </Row>
</div>

@code
{
}