@inherits LayoutComponentBase
@layout EmptyLayout
@inject BlogSettings BlogSettings
@inject BuildStatus BuildStatus
@inject IBlogService Service

<Layout Style="min-height: 100vh; background: initial">
    <Sider Collapsible Theme="SiderTheme.Light" Breakpoint="BreakpointType.Lg" CollapsedWidth="0" Collapsed
           Style="height: 100vh; position: fixed; left: 0;" OnCollapse="@onCollapse">
        <Menu Mode="MenuMode.Inline" Theme="MenuTheme.Light">
            <MenuItem Class="text-center p-0">
                @BlogOptions.Name
            </MenuItem>
            <MenuItem>
                <MdiIcon Type="home" />
                <span>
                    <MenuLink href="" Match="NavLinkMatch.All">
                        Home
                    </MenuLink>
                </span>
            </MenuItem>
            @{
                RenderFragment PostsSubMenuTitle = @<span>
                    <MdiIcon Type="archive" />
                    <span>
                        <MenuLink href="posts">
                            Posts
                        </MenuLink>
                    </span>
                </span>;
            }
            <SubMenu Title="@PostsSubMenuTitle">
                <MenuItem>
                    <MdiIcon Type="feather" />
                    <span>
                        <MenuLink href="articles">
                            Articles
                        </MenuLink>
                    </span>
                </MenuItem>
                <MenuItem>
                    <MdiIcon Type="presentation" />
                    <span>
                        <MenuLink href="slides">
                            Slides
                        </MenuLink>
                    </span>
                </MenuItem>
                <MenuItem>
                    <MdiIcon Type="file-document" />
                    <span>
                        <MenuLink href="notes">
                            Notes
                        </MenuLink>
                    </span>
                </MenuItem>
            </SubMenu>
            @*<MenuItem>
                    <MdiIcon Type="folder" />
                    <span>
                        <MenuLink href="categories">
                            Categories
                        </MenuLink>
                    </span>
                </MenuItem>
                <MenuItem>
                    <MdiIcon Type="tag-multiple" />
                    <span>
                        <MenuLink href="keywords">
                            Keywords
                        </MenuLink>
                    </span>
                </MenuItem>*@
            <MenuItem>
                <MdiIcon Type="cog" />
                <span>
                    <MenuLink href="settings">
                        Settings
                    </MenuLink>
                </span>
            </MenuItem>
        </Menu>
    </Sider>
    <Layout Style="@MainContentStyle">
        <Content>@Body</Content>
        <Footer Class="text-center mt-3 p-3">
            <MdiIcon Type="copyright" />
            @BlogOptions.StartYear - @DateTimeOffset.Now.Year, @(BlogOptions.Onwer). All rights reserved.
            @if (!string.IsNullOrEmpty(BlogSettings.Footer))
            {
                @((MarkupString)BlogSettings.Footer)
            }
            Powered by

            @{
                RenderFragment AcBlogInfo = @<div>
                    Repository: <a href="https://github.com/@BuildStatus.Repository">@BuildStatus.Repository</a>
                    <br />
                    Commit: <a href="https://github.com/@BuildStatus.Repository/commit/@BuildStatus.Commit">@BuildStatus.TrimedCommit</a>
                    <br />
                    Branch: <a href="https://github.com/@BuildStatus.Repository/tree/@BuildStatus.Branch">@BuildStatus.TrimedBranch</a>
                    <br />
                    Version: @BuildStatus.Version
                    <br />
                    Built Date: @BuildStatus.BuildDate
                </div>;
            }
            <Popover Content="AcBlogInfo" Title="@($"AcBlog v{BuildStatus.Version}")">
                <a href="https://github.com/acblog/acblog">AcBlog</a>
            </Popover>
        </Footer>
    </Layout>
</Layout>

@code {
    private BlogOptions BlogOptions { get; set; } = new BlogOptions();

    private string MainContentStyle = "background: initial; margin-left: 0px;";

    private void onCollapse(bool isCollapsed)
    {
        // TODO: Wait for bug fix in antd https://github.com/ant-design-blazor/ant-design-blazor/issues/283

        if (isCollapsed)
        {
            MainContentStyle = "background: initial; margin-left: 0px;";
        }
        else
        {
            MainContentStyle = "background: initial; margin-left: 200px;";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        BlogOptions = await Service.GetOptions();
        await base.OnInitializedAsync();
    }
}