@inherits LayoutComponentBase
@inject BlogSettings BlogSettings
@inject IJSRuntime JSRuntime
@layout EmptyLayout
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div style="margin-bottom: 40px;">
    @Body
</div>

<footer class="border-top text-muted"
        style="position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 40px;">
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <div>
                <i class="mdi mdi-copyright"></i>
                @BlogSettings.StartYear - @DateTimeOffset.Now.Year, @(BlogSettings.Onwer). All rights reserved.
            </div>
            <div></div>
            <div>
                @if (!string.IsNullOrEmpty(BlogSettings.Footer))
                {
                    @((MarkupString)BlogSettings.Footer)
                }
                Powered by
                <a class="text-muted" href="https://github.com/@BuildStatus.Repository" data-toggle="tooltip" data-html="true" title="Repository: @BuildStatus.Repository <br/>Commit: @BuildStatus.Commit <br/>Branch: @BuildStatus.Branch <br/>Built Date: @BuildStatus.BuildDate">AcBlog</a>.
            </div>
        </div>
    </div>
</footer>

@code{
    private BuildStatus BuildStatus { get; set; } = new BuildStatus();

    protected override void OnInitialized()
    {
        Configuration.Bind("build", BuildStatus);
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await TooltipInterop.Enable(JSRuntime);
        await base.OnAfterRenderAsync(firstRender);
    }
}