@page "/notes"
@page "/notes/pages"
@page "/notes/pages/{pageNumber:int}"
@inherits BaseNotePage
@inject AcBlog.SDK.Filters.PostNoteFilter Notes

<div class="container">
    <div class="d-flex flex-row">
        <h1>Notes</h1>
    </div>

    <Loader OnLoad="@OnLoad" @ref="loader">
        <PagingList Data="@Data" Column="1" OnUpdatePage="@OnUpdatePage" OnPageTo="@OnPageTo" PageNavigationUrl="/notes">
            <ItemTemplate>
                <PostCard Id="@context"></PostCard>
            </ItemTemplate>
        </PagingList>
    </Loader>
</div>

@code {
    const int CountPerPage = 10;

    QueryResponse<string> Data { get; set; }

    [Parameter]
    public int? PageNumber { get; set; } = null;

    private Loader loader;

    private async Task OnLoad()
    {
        Title = "Loading...";
        Data = await Notes.Filter(new Data.Models.Actions.Pagination
        {
            PageNumber = PageNumber ?? 0,
            CountPerPage = CountPerPage
        });
        Title = $"Page {Data.CurrentPage.PageNumber + 1}";
    }

    private async Task OnPageTo(int pageNumber)
    {
        PageNumber = pageNumber;
        await OnUpdatePage();
    }

    private async Task OnUpdatePage() => await loader.Load();
}
