@page "/articles"
@page "/articles/list"
@page "/articles/list/{pageNumber:int}"
@inherits BaseArticlePage
@inject AcBlog.SDK.Filters.PostArticleFilter Article

<div class="container">
    <div class="d-flex flex-row">
        <h1>Articles</h1>
    </div>

    <Loader OnLoad="@OnLoad" @ref="loader">
        <PagingWaterfall Data="@Data" Column="1" OnUpdatePage="@OnUpdatePage" OnNextPage="@OnNextPage" OnPreviousPage="@OnPreviousPage" OnPageTo="@OnPageTo">
            <ItemTemplate>
                <PostCard PostId="@context"></PostCard>
            </ItemTemplate>
        </PagingWaterfall>
    </Loader>
</div>

@code {
    const int CountPerPage = 10;

    QueryResponse<string> Data { get; set; }

    [Parameter]
    public int? PageNumber { get; set; } = null;

    private Loader loader;

    private async Task OnLoad()
    {
        Title = "Loading...";
        Data = await Article.Filter(new Pagination
        {
            PageNumber = PageNumber ?? 0,
            CountPerPage = CountPerPage
        });
        Title = $"Page {Data.CurrentPage.PageNumber + 1}";
    }

    private async Task OnPageTo(int pageNumber)
    {
        NavigationManager.NavigateTo($"articles/list/{pageNumber}");
        PageNumber = pageNumber;
        await OnUpdatePage();
    }

    private async Task OnUpdatePage()
    {
        await loader.Load();
    }

    private Task OnPreviousPage()
    {
        return OnPageTo(Data.CurrentPage.PageNumber - 1);
    }

    private Task OnNextPage()
    {
        return OnPageTo(Data.CurrentPage.PageNumber + 1);
    }
}
