@inherits LayoutComponentBase
@inject BlogSettings BlogSettings
@inject IJSRuntime JSRuntime
@layout EmptyLayout
@inject BuildStatus BuildStatus

<div style="margin-bottom: 40px;">
    @Body
</div>

<footer class="text-muted bg-light"
        style="position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 40px;">
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <div>
                <i class="mdi mdi-copyright"></i>
                @BlogSettings.StartYear - @DateTimeOffset.Now.Year, @(BlogSettings.Onwer). All rights reserved.
            </div>
            <div></div>
            <div>
                @if (!string.IsNullOrEmpty(BlogSettings.Footer))
                {
                    @((MarkupString)BlogSettings.Footer)
                }
                Powered by
                <a class="text-muted" data-toggle="popover" data-html="true" data-placement="top" data-trigger="hover focus click" data-content="Repository: <a href='https://github.com/@BuildStatus.Repository'>@BuildStatus.Repository</a> <br/>Commit: <a href='https://github.com/@BuildStatus.Repository/commit/@BuildStatus.Commit'>@BuildStatus.TrimedCommit</a> <br/>Branch: <a href='https://github.com/@BuildStatus.Repository/tree/@BuildStatus.Branch'>@BuildStatus.TrimedBranch</a> <br/>Built Date: @BuildStatus.BuildDate">AcBlog</a>.
            </div>
        </div>
    </div>
</footer>

@code{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await TooltipInterop.Enable(JSRuntime);
        await PopoverInterop.Enable(JSRuntime);
        await base.OnAfterRenderAsync(firstRender);
    }
}