@inject IBlogService Service
@inject IMarkdownRenderService MarkdownService

<Loader OnLoad="@OnLoad" LoadKey="@Id" UseSkeleton>
    <AntDesign.Comment Datetime="@dateTime" Author="@author" Avatar="@Utils.GetGravatarUrl(Comment.Email)"
                       Content="@content" @key="@Id">
    </AntDesign.Comment>
</Loader>

@code {
    [Parameter]
    public string Id { get; set; }

    private AcBlog.Data.Models.Comment Comment { get; set; }

    RenderFragment content;
    RenderFragment dateTime;
    RenderFragment author;

    private async Task OnLoad()
    {
        Comment = await Service.CommentService.Get(Id);

        var rawContent = await MarkdownService.RenderHtml(Comment.Content);

        content = @<Template>@((MarkupString)rawContent)</Template>;

        dateTime = @<Tooltip Title="@(Comment.CreationTime.ToString("yyyy-MM-dd HH:mm:ss"))">
            <span>
                @Comment.CreationTime.ToFriendlyString()
            </span>
        </Tooltip>;

        author = @<a href="@Comment.Link">@Comment.Author</a>;
    }
}
