@using AcBlog.Client.WebAssembly.Components.Displays

@if (Value != null)
{
    <div class="d-flex flex-wrap justify-content-between" style="color:#999">
        <div>
            <small>
                <ItemTimeDisplay CreationTime="@Value.CreationTime" ModificationTime="@Value.ModificationTime" />
            </small>
            @if (Value.Category != null && Value.Category.Items.Any())
            {
                <small class="m-1"></small>
                <small>
                    <CategoryDisplay Data="@Value.Category" />
                </small>
            }
            @if (Value.Keywords != null && Value.Keywords.Items.Any())
            {
                <small class="m-1"></small>
                <small>
                    <KeywordDisplay Data="@Value.Keywords" />
                </small>
            }
        </div>
        @if (!string.IsNullOrEmpty(Value.Content.Raw))
        {
            <div>
                <small class="m-1"></small>
                <small>
                    <WordCountDisplay Document="@Value.Content" />
                </small>
                <small class="m-1"></small>
                <small>
                    <ReadTimeDisplay Document="@Value.Content" />
                </small>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public Post Value { get; set; }
}
