@page "/posts"
@page "/posts/pages"
@page "/posts/pages/{pageNumber:int}"
@inherits BasePostPage

<PageContainer Title="Posts" PageTitle="@Title">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>
                <a href="">
                    <MdiIcon Type="@IconNames.Home" />
                    <span>Home</span>
                </a>
            </BreadcrumbItem>
            <BreadcrumbItem>
                <span>
                    <MdiIcon Type="@IconNames.Posts" />
                    <span>Posts</span>
                </span>
            </BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <Extra>
        <AuthorizeView>
            <Authorized>
                <ButtonLink Href="@($"posts/create")">
                    <MdiIcon Type="@IconNames.Create"></MdiIcon>
                    <span>Create</span>
                </ButtonLink>
            </Authorized>
        </AuthorizeView>
    </Extra>
    <ChildContent>
        <Loader OnLoad="@OnLoad" LoadKey="@($"{PageNumber}")" @ref="loader">
            <PagingList Data="@Data" Column="1" PageNavigationUrl="@UrlGenerator.Posts()">
                <ItemTemplate>
                    <PostListItem Id="@context" ShowType="true"></PostListItem>
                </ItemTemplate>
            </PagingList>
        </Loader>
    </ChildContent>
</PageContainer>

@code {
    const int PageSize = 10;

    PagingData<string> Data { get; set; }

    [Parameter]
    public int? PageNumber { get; set; } = null;

    private Loader loader;

    private async Task OnLoad()
    {
        Title = "Loading...";
        Data = await Service.PostService.QueryPaging(new PostQueryRequest
        {
            Pagination = new Data.Models.Actions.Pagination
            {
                CurrentPage = PageNumber ?? 0,
                PageSize = PageSize
            }
        });
        Title = $"Page {Data.CurrentPage.CurrentPage + 1}";
    }
}
